body {
    background-color: white;
    font-family: Tahoma, Geneva, sans-serif;
}

#jumboContainer {
    margin-top: 70px;
}

.jumbotron {
    background-color: grey;
    color: white;
}

#jumboContainer img {
    height: 220px;
    width: 306px;
    border-radius: 8px;
}