body {
    background-color: silver;
    font-family: Tahoma, Geneva, sans-serif;
}

 #jumboContainer {
    margin-top: 20px;
}

.jumbotron {
    background-color: grey;
    color: white;
}

#jumboContainer img {
    margin-left: -30px;
    border-radius: 8px;
}

#icons {
    position: relative;
    bottom: 330px;
}

#projects {
    margin-top: -60px;
    position: relative;
    bottom: 200px;
}

#projects2 {
    position: relative;
    bottom: 460px;
}

ul#contact li {
    color: white;
    margin-left: 15px;
    display:inline;
    padding: 10px 100px;
    position: relative;
    bottom: -35px;
}

#contacticons {
position: relative;
bottom: 20px;
}

.page-footer {
    margin-top: -400px;
}