body {
    background-color: silver;
    font-family: Tahoma, Geneva, sans-serif;
}

#jumboContainer {
    margin-top: 70px;
}

.jumbotron {
    background-color: grey;
    color: white;
}

#jumboContainer img {
    height: 220px;
    width: 306px;
    border-radius: 8px;
}

.brightness {
    filter: brightness(170%);
}

#icons {
    position: relative;
    left: 850px;
    bottom: 330px;
}

ul#contact li {
    color: white;
    margin-left: 15px;
    display:inline;
    padding: 10px 100px;
    position: relative;
    bottom: -35px;
}

#contacticons {
position: relative;
left: 900px;
bottom: 20px;
}